[Unit]
Description=Zapret Discord TCP Traffic Processing
After=network.target

[Service]
Type=simple
ExecStart=/opt/my-firewall-setup/zapret/binaries/my/nfqws --qnum=204 --filter-tcp=80,443 --hostlist=/opt/my-firewall-setup/zapret/ipset/discord_hosts.txt
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
