[Unit]
Description=Zapret Instagram UDP Traffic Processing
After=network.target

[Service]
Type=simple
ExecStart=/opt/my-firewall-setup/zapret/binaries/my/nfqws --qnum=203 --filter-udp=80,443 --hostlist=/opt/my-firewall-setup/zapret/ipset/instagram_hosts.txt
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
